body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      font-family: 'Arial', sans-serif;
      background-color: #E1E1D9;
    }

    header {
  background-color: #333;
  color: white;
  padding: 10px; /* Add some padding for better aesthetics */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Make the header fixed */
  width: 100%;
  top: 0;
  flex-direction: row;
  z-index: 1000; /* Set a high z-index to ensure it appears above other elements */
}


.header-content {
  display: flex;
  align-items: center;
}

.profile-icon {
  cursor: pointer;
  margin-right: 20px;
}

.profile-icon img {
  width: 25px;
  height: 50px;
  border-radius: 50%;
}

    .text-box {
      top: 2rem;
      width: 300px;
      padding: 20px;
      border: 2px solid #ccc;
      border-radius: 15px;
      position: relative;
      background-color: #333;
      margin: 10px; /* Added margin for spacing */
    }

    .like-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .like-count {
      position: absolute;
      top: 10px;
      right: 40px;
      color: white;
    }

    .text-maker {
      color: rgb(235, 17, 17);
      font-size: 25px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .text-maker .by {
      color: #FFFFF7;
      font-size: 10px;
      margin-bottom: 10px;
      font-family: monospace;
      font-style: italic;
    }

.text-maker .dev {
      color: #F5F5ED;
      font-size: 11px;
      margin-bottom: 10px;
      font-family: monospace;
      font-style: italic;
}
    #description {
      margin-bottom: 20px;
      color: rgb(255, 255, 255);
    }

    .copy-button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .copy-button:hover {
      background-color: #45a049;
    }
    .external-plugins-text {
  margin-top: 10px; /* Adjust the margin as needed */
  font-weight: bold; 
  font-size: 16px; /* Adjust the font size as needed */
}
